AdegaSOA/AdegaSOA/Web References/bpel2/Reposicao.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="http://xmlns.oracle.com/Reposicao" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:client="http://xmlns.oracle.com/Reposicao" name="Reposicao" targetNamespace="http://xmlns.oracle.com/Reposicao" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <plnk:partnerLinkType name="Reposicao">
    <plnk:role name="ReposicaoProvider">
      <plnk:portType name="tns:Reposicao" />
    </plnk:role>
  </plnk:partnerLinkType>
  <types>
    <schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/Reposicao" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="ReposicaoProcessRequest">
        <complexType>
          <sequence>
            <element name="input" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="ReposicaoProcessResponse">
        <complexType>
          <sequence>
            <element name="result" type="string" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="ReposicaoResponseMessage">
    <part name="payload" element="client:ReposicaoProcessResponse" />
  </message>
  <message name="ReposicaoRequestMessage">
    <part name="payload" element="client:ReposicaoProcessRequest" />
  </message>
  <portType name="Reposicao">
    <operation name="process">
      <input message="client:ReposicaoRequestMessage" />
      <output message="client:ReposicaoResponseMessage" />
    </operation>
  </portType>
  <binding name="ReposicaoBinding" type="client:Reposicao">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="process">
      <soap:operation soapAction="process" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Reposicao">
    <port name="ReposicaoPort" binding="client:ReposicaoBinding">
      <soap:address location="http://rodrigo-pc:9700/orabpel/default/Reposicao/1.0" />
    </port>
  </service>
</definitions>