AdegaSOA_BPEL/Cancelamento/Cancelamento.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Cancelamento" targetNamespace="http://xmlns.oracle.com/Cancelamento"
	xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:client="http://xmlns.oracle.com/Cancelamento"
	xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/">
	<types>
		<schema attributeFormDefault="qualified" elementFormDefault="qualified"
			targetNamespace="http://xmlns.oracle.com/Cancelamento" xmlns="http://www.w3.org/2001/XMLSchema">
			<element name="CancelamentoProcessRequest">
				<complexType>
					<sequence>
						<element name="input" type="string" />
					</sequence>
				</complexType>
			</element>
			<element name="CancelamentoProcessResponse">
				<complexType>
					<sequence>
						<element name="result" type="string" />
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>
	<message name="CancelamentoRequestMessage">
		<part name="payload" element="client:CancelamentoProcessRequest" />
	</message>
	<message name="CancelamentoResponseMessage">
		<part name="payload" element="client:CancelamentoProcessResponse" />
	</message>
	<portType name="Cancelamento">
		<operation name="process">
			<input message="client:CancelamentoRequestMessage" />
			<output message="client:CancelamentoResponseMessage" />
		</operation>
	</portType>
	<plnk:partnerLinkType name="Cancelamento">
		<plnk:role name="CancelamentoProvider">
			<plnk:portType name="client:Cancelamento" />
		</plnk:role>
	</plnk:partnerLinkType>
</definitions>