AdegaSOA/AdegaSOA/Web References/external3/Distribuidora.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ipt.br/soa/ext" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://ipt.br/soa/ext" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ipt.br/soa/ext">
      <s:element name="ProcessarReposicao">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlReposicao" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessarReposicaoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProcessarReposicaoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProcessarReposicaoSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessarReposicao" />
  </wsdl:message>
  <wsdl:message name="ProcessarReposicaoSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessarReposicaoResponse" />
  </wsdl:message>
  <wsdl:portType name="DistribuidoraSoap">
    <wsdl:operation name="ProcessarReposicao">
      <wsdl:input message="tns:ProcessarReposicaoSoapIn" />
      <wsdl:output message="tns:ProcessarReposicaoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DistribuidoraSoap" type="tns:DistribuidoraSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessarReposicao">
      <soap:operation soapAction="http://ipt.br/soa/ext/ProcessarReposicao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DistribuidoraSoap12" type="tns:DistribuidoraSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessarReposicao">
      <soap12:operation soapAction="http://ipt.br/soa/ext/ProcessarReposicao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Distribuidora">
    <wsdl:port name="DistribuidoraSoap" binding="tns:DistribuidoraSoap">
      <soap:address location="http://localhost:1709/ExternalServices/Distribuidora.asmx" />
    </wsdl:port>
    <wsdl:port name="DistribuidoraSoap12" binding="tns:DistribuidoraSoap12">
      <soap12:address location="http://localhost:1709/ExternalServices/Distribuidora.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>