AdegaSOA/AdegaSOA/Web References/localhost2/Seguranca.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ipt.br/soa" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://ipt.br/soa" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ipt.br/soa">
      <s:element name="VerificarIdUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cnpj" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificarIdUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VerificarIdUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VerificarIdUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:VerificarIdUsuario" />
  </wsdl:message>
  <wsdl:message name="VerificarIdUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:VerificarIdUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="SegurancaSoap">
    <wsdl:operation name="VerificarIdUsuario">
      <wsdl:input message="tns:VerificarIdUsuarioSoapIn" />
      <wsdl:output message="tns:VerificarIdUsuarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SegurancaSoap" type="tns:SegurancaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerificarIdUsuario">
      <soap:operation soapAction="http://ipt.br/soa/VerificarIdUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SegurancaSoap12" type="tns:SegurancaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerificarIdUsuario">
      <soap12:operation soapAction="http://ipt.br/soa/VerificarIdUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Seguranca">
    <wsdl:port name="SegurancaSoap" binding="tns:SegurancaSoap">
      <soap:address location="http://localhost:1709/Services/Seguranca.asmx" />
    </wsdl:port>
    <wsdl:port name="SegurancaSoap12" binding="tns:SegurancaSoap12">
      <soap12:address location="http://localhost:1709/Services/Seguranca.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>