AdegaSOA/AdegaSOA/Web References/localhost4/Usuario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ipt.br/soa" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://ipt.br/soa" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ipt.br/soa">
      <s:element name="VerificarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cpf" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cnpj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerificarUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastrarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cnpj" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastrarClienteResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VerificarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:VerificarUsuario" />
  </wsdl:message>
  <wsdl:message name="VerificarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:VerificarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="CadastrarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:CadastrarCliente" />
  </wsdl:message>
  <wsdl:message name="CadastrarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:CadastrarClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="UsuarioSoap">
    <wsdl:operation name="VerificarUsuario">
      <wsdl:input message="tns:VerificarUsuarioSoapIn" />
      <wsdl:output message="tns:VerificarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastrarCliente">
      <wsdl:input message="tns:CadastrarClienteSoapIn" />
      <wsdl:output message="tns:CadastrarClienteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UsuarioSoap" type="tns:UsuarioSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerificarUsuario">
      <soap:operation soapAction="http://ipt.br/soa/VerificarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarCliente">
      <soap:operation soapAction="http://ipt.br/soa/CadastrarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UsuarioSoap12" type="tns:UsuarioSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerificarUsuario">
      <soap12:operation soapAction="http://ipt.br/soa/VerificarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarCliente">
      <soap12:operation soapAction="http://ipt.br/soa/CadastrarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Usuario">
    <wsdl:port name="UsuarioSoap" binding="tns:UsuarioSoap">
      <soap:address location="http://localhost:1709/Services/Usuario.asmx" />
    </wsdl:port>
    <wsdl:port name="UsuarioSoap12" binding="tns:UsuarioSoap12">
      <soap12:address location="http://localhost:1709/Services/Usuario.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>